# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [15]:
import pandas as pd
customer_data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [16]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
print(f"Number of rows and colums: {customer_data.shape}")

Number of rows and colums: (4008, 11)

In [17]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
print(f"Column names and data types: {customer_data.dtypes}")

Column names and data types: Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [95]:
#You should also provide suggestions for fixing any incorrect data types:
print("Number of Open Complaints is currently float, should be int. Gender should be standardised.")

Number of Open Complaints is currently float, should be int. Gender should be standardised.

In [23]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. 
print(f"Number of unique values in each column:")
customer_data.nunique()

Number of unique values in each column:

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [79]:
#You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
string_columns = customer_data.select_dtypes(include=['object'])
for column in string_columns:
    print(f"Unique values in '{column}':")
    print(string_columns[column].unique())
print()
print()
print()
nums_max = customer_data.select_dtypes(include='number').max() 
nums_min = customer_data.select_dtypes(include='number').min()
print("Range of values in numerical data columns:")
print(f"Minimum values: {nums_min}") 
print(f"Maximum values: {nums_max}")
print()
print()
print()
print(f"Customer data is for clients in the US West Coast and some southwestern states. There is a high range of income ($0-99960 a year), auto premium, and claim amounts, likely due to the fact that the dataset includes vehicles for personal, corporate, and special use")

Unique values in 'Customer':
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Unique values in 'ST':
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values in 'GENDER':
[nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values in 'Education':
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values in 'Customer Lifetime Value':
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Unique values in 'Number of Open Complaints':
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values in 'Policy Type':
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values in 'Vehicle Class':
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]



Range of values in numerical data columns:
Minimum values: Income                   0.000000
Monthly Premium Auto    61.000000
Total Claim Amount       0.382107
dtype: float64
Maximum values: Income                  99960.000000
Monthly Premium Auto    35354.000000
Total Claim Amount       2893.239678
dtype: float64



Customer data is for clients in the US West Coast and some southwestern states. There is a high range of income ($0-99960 a year), auto premium, and claim amounts, likely due to the fact that the dataset includes vehicles for personal, corporate, and special use

In [77]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and 
#distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
print(customer_data.describe(include=[float]))

print(f"The high standard deviation in income, along with the rows below it indicate that income is quite evenly spread throughout the wide range of 0-99960.")
print(f"In contrast, the std of monthly auto premiums is extremely unevenly distributed, with the top 25% distributed in the very wide range of 109-35354, which I hypothesize correlates with the number of luxury, corporate, or special use vehicles.")
print(f"Total claim amounts show an opposite uneven distribution, likely due to the fact that there is likely a certain minimum threshold in which a customer decides it's worth it to file a claim. Claim amounts in the extremely minimum range, such as for 38 cents, likely indicate data that should be examined for mistakes.")

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
The high standard deviation in income, along with the rows below it indicate that income is quite evenly spread throughout the wide range of 0-99960.
In contrast, the std of monthly auto premiums is extremely unevenly distributed, with the top 25% distributed in the very wide range of 109-35354, which I hypothesize correlates with the number of luxury, corporate, or special use vehicles.
Total claim amounts show an opposite uneven distribution, likely due to the fact that there is likely a certain minimum threshold in which a customer decides it's worth it to file a claim. Claim amounts in the extremely minimum range, such as for 38 cents, likely indicate data that should be examined for mistakes.

In [89]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

categorical_columns = customer_data.select_dtypes(include=['object'])
summary_statistics = categorical_columns.describe()

print(summary_statistics)
print()
print()
print()
print(f"The majority of clients live in Oregon and have reached the educational level of a Bachelors. The data output for gender and number of open complaints indicates that there are inconsistencies in the data.")

       Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       Number of Open Complaints    Policy Type  Vehicle Class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576



The majority of clients live in Oregon and have reached the educational level of a Bachelors. The data output for gender and number of open complaints indicates that there are inconsistencies in the data.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [117]:
customer_data['ST'].value_counts().nsmallest(5).sort_values()

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [125]:
customer_data['Policy Type'].value_counts().nlargest(1)

Policy Type
Personal Auto    780
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [137]:
personal_auto_df = customer_data.loc[customer_data['Policy Type'] == 'Personal Auto']
corporate_auto_df = customer_data.loc[customer_data['Policy Type'] == 'Corporate Auto']

print(f"Average income of personal auto policy client: {personal_auto_df.Income.mean()}")
print(f"Average income of corporate auto policy client: {corporate_auto_df.Income.mean()}")

Average income of personal auto policy client: 38180.69871794872
Average income of corporate auto policy client: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here